*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row{
	margin-right: calc(-.5 * var(--bs-gutter-x)); 
     margin-left: calc(-.5 * var(--bs-gutter-x));
}

.container-fluid{
	--bs-gutter-x: 0rem !important;
}

